body {
    margin: 0;
    background-color: #FDCD23;
}

header {
    display: flex;
    justify-content: center;
}

header img{
    width: 150px;
}

section {
    background-color: white;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
}

.gallery {
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.gallery img{
    width: 300px;
    margin: 10px;
    border-radius: 20px;
}